ROSanityCheck/MessageMapping/purchaseOrder/src/main/resources/xsd/newPurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="DocumentDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ItemNumber" type="xs:unsignedByte" />
              <xs:element name="ProductCode" type="xs:string" />
              <xs:element name="Quantity" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>